* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:cornflowerblue
}

.header
{
    text-align: center;
    font-size: 15px;
    background-color: blue;
    margin: 10px 400px 10px 450px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    text-align: center;
    margin: 50px 0px 0px 550px;
    
    background-image: url(background.jpg);
    height: 300px;
    width: 550px;
    padding: 100px 40px 120px 40px;

}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}

#weatherInfo {
    margin-top: 20px;
    background-image: url(background_img1.jpg);
    
    
}

.footer
{
    text-align: center;
    font-size: 10px;
    color: red;
    background-color:cadetblue;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 8px;
    padding-top: 15px;
    padding-bottom: 10px;
}